- content_for :title, "Rankings"

.row
  .tabbable.span8
    %ul.nav.nav-tabs
      %li.active= link_to "Active Rankings", "#30-days", {'data-toggle' => 'tab'}
      %li= link_to "All Time Rankings", "#all-time", {'data-toggle' =>'tab'}

.row
  .tab-content.span8
    .tab-pane#30-days.active
      %table#recent-rankings.rankings.table.table-striped
        %thead
          %tr
            %th Rank
            %th Name
            %th Win - Loss
            %th Elo Rating
        - @rankings.select(&:recent?).each_with_index do |ranking, i|
          = render :partial => 'ranking', :locals => {:ranking => ranking, :i => i}

    .tab-pane#all-time
      %table#all-time-rankings.rankings.table.table-striped
        %thead
          %tr
            %th Rank
            %th Name
            %th Win - Loss
            %th Elo Rating
        - @rankings.each_with_index do |ranking, i|
          = render :partial => 'ranking', :locals => {:ranking => ranking, :i => i}
